
/*assignment buttons*/
.assignment-buttons{
    text-align: center;
    margin: 4em;
}
/*buttons*/
.block1,.block2,
.block3,.block4,
.block5,.block6,
.block7,.block8,
.block9,.block10{
    margin: 60px;
    padding:2em;
    width: 425px;
    height: 10em;
    display: inline-block;
    border: 20px solid aqua;
    cursor:pointer;
    font-size: 16px;
    color: aqua;
    font-family: 'Reggae One', cursive;
    border-radius: 3px,3px,3px,3px;
    background-color: royalblue;
}
/*hovering buttons*/
.block1:hover,.block2:hover,
.block3:hover,.block4:hover,
.block5:hover,.block6:hover,
.block7:hover,.block8:hover,
.block9:hover,.block10:hover{
    color: aqua;
    background-color: darkblue}