
/*assignment buttons*/
.assignment-buttons{
    text-align: center;
    margin: 3em;
}
/*buttons*/
.assignment-buttons-1,.assignment-buttons-2,
.assignment-buttons-3,.assignment-buttons-4,
.assignment-buttons-5,.assignment-buttons-6,
.assignment-buttons-7,.assignment-buttons-8,
.assignment-buttons-9,.assignment-buttons-10{
    margin: 60px;
    padding:2em;
    width: 425px;
    height: 10em;
    display: inline-block;
    border: 20px solid aqua;
    cursor:pointer;
    font-size: 16px;
    color: aqua;
    font-family: 'Reggae One', cursive;
    border-radius: 3px,3px,3px,3px;
    background-color: royalblue;
}
/*hovering buttons*/
.assignment-buttons-1:hover,.assignment-buttons-2:hover,
.assignment-buttons-3:hover,.assignment-buttons-4:hover,
.assignment-buttons-5:hover,.assignment-buttons-6:hover,
.assignment-buttons-7:hover,.assignment-buttons-8:hover,
.assignment-buttons-9:hover,.assignment-buttons-10:hover{
    color: aqua;
    background-color: darkblue}