body {
color: aqua;
font-size: 3ems;
background-image: url("../images/Dark\ blue.jpg");
background-repeat: no-repeat,repeat; 
background-size: 1500px 3000px;
}
.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 18em;
  }
  
  .box :first-child {
      align-self: center;
  }
#centertext{
    margin: 20%;
    background-color: royalblue;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    height: 450px;
  }
  #one, #two{
    margin: 20%;
    background-color: royalblue;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    height: 450px;
  }
    #four, #five{
    float: right;
    margin: 20%;
    background-color: royalblue;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    height: 450px;
  }
  #IJ{
    margin: 20%;
    background-color: royalblue;
    width: 300px;
    border: 15px solid aqua;
    padding: 50px;
    margin: 20px;
    height: 450px;   
  }
  p{
    font-family: 'Reggae One', cursive; 
  }
  h2{
    font-family: 'Reggae One', cursive; 
  }
  h1{
    font-family: 'Reggae One', cursive; 
  }



img{
    float:left;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
  }
  
  li {
    float: left;
  }
  li a{
    font-family: 'Reggae One', cursive; 
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  }